checking structure of OpenPGP keys / subkeys

There are two private keys under "keyInfo" JSON element in "test-secrets.json" file.

Each private key block has one master key and a sub key. Both master and sub key are marked that either can be used for both signing and encryption.

Technically, both master and sub RSA keys can be used for both signing and encryption, but it is a good practice to have one key for signing and a separate key for encryption. More specifically, master key for signing and sub key for encryption. When distribute public key to be used for encryption, then export only the encryption key (sub key). When verify signature using the signer public key, there could be few scenarios i.e.

- Check If the public key is marked for both signing and encryption. If yes, then use it.
- Check If the public key is marked for signing only, then use it.
- Reject the public key, if it is only marked for encryption.

ECDSA keys can only be used for signatures. When using ECDH, encryption using shared secret could be used.

Below is the tesy RSA private key which I generated using BouncyCasle. The master key is marked for signing only and sub key is marked for encryption only.

```
-----BEGIN PGP PRIVATE KEY BLOCK-----
Version: BCPG v1.68

lQPFBGAuy0sDCADAEVdBlkq45VVBqQZhU/RLlIMsS3BWCUoWib/czZe+DWazuNH6
RtSq408Bz5C5yAuXseIXnuqYpZWy9sg2W13ag3G6xtEHs+gOtYkr5phtWukZ1cDw
xCyCICHZECR5gFFjv9AdLfc+W9PU15j8oWR6C/uSRPDyrR9SQHXBldxC09w/xQk1
frVen+41qQxP1U36BK6+TV9y7tOpMUPgKLPliiuex/F9U36FNN02n4qs2IO7LGkS
pEJ2N0ZNWbzIsa42qFkAW8lEN65/7rLTGCGshPhwfWIL4NPuwkhMBgjjz1T6M/43
l3mSAjUIVYkwM0LGJkbPvtjHVZnSuz/BAY+zABEBAAH+CQMCfDpNv41NS2xglET8
XbXr7ifrZwrxIAMLENV77NVUIJrCX/5JtlTJwIsYrnZlV0qo1rok5We9Khwn1T6a
X0UWIbhfuaUHgU25+FmIdxAo6/Mj7g/23sqkrZVRgd8aDpigq+APK9xS/w6kB8YS
0xVTqe5SKTHUcwtFp0FahouU9eiLHUK2jHGPMdv3Ri11Jf4luOxSctAlFBQgAwdk
ue+OU/O6Zzi+uAJ0kEUJ1eKopvwi1PlN9TXuklC7FW+WZCZOlaznzx4YV1gy0vpL
krBjbC99fUuhlby7eaEQM0qgdseLYItEZAu2WCFJ+TFP7J1tPqOwQguwHKNZRsbe
XwckleCCW/DKvsJXDQ0dBPbn39nKMileF1TOtIiEU+ofiru75pmXXB8RgOGiBNvK
+ml5Qbq6WlSFUM4c/LYDV5n8NVh5+srgzG3cbSi6nHNR+0BtksZBRObvOfTxbNPv
tOgNiO70vI6QIq4XY3LO35RINKj+dJUUA2X5i9dfL5gwkgETqwj1NtUKZNnnLI6F
bqWXdwGQnBlqrCty6BF84SESs49nbvg5JtYdDLcO2GPhMVyM8yzoVdqUkJi11u0n
NnUmUPBxLVySNsBPMjnSWk5qaxS+gAMyya0rDC3wVJQhztVOqv7pYMPY9DXZSENm
/511FRpplSkNgwVka/5ouQPRrwFsS2kxXs6tGMOOOz04Zu+lxn8UtGjYJlLrATPK
WsHMNvyGdnlad6ZSSbHDnjwNvlFHXzYD+UElRJ5ECxn9vAtdLL64kh/rVzVRPSvf
FOTGM8ZoCAeOIq+dNogQ3fQ23cdKsEgbNgAezMuyGnw4Xz90p9VWf0N5LIqR0kbV
GLT+FzRXR1LoF/sFoSvXQ1eu5FB7JCrIkT+5mPFDiFoYm57EBpWkUN90JvwsiVUL
+ydvT8lF8MG0EnVzZXJAZmxvd2NyeXB0LmNvbYkBNgQTAwgAIAUCYC7LTAUJAAAc
IAIZAQILCQIVCAQWAgMBAp4BApsDAAoJEDiDuX1rtQ5KCNgH/A6MrqHaqUhZwReM
0DTrFOfecGPB6yEqQoyh474eyn6x7pKCJOcne8jbypjotjtiJDuGcJaTuJnZfji/
G0N83+NBl0RI2w8RMZRJ+HC/jkRjYx8j8N57Xl4eeEtV+qQSKIqjIdAJ90afsbZ4
uUQijJ7lGbD+1w/ICkGR3rmFs/oyH9bMAxRXglovyDO3Vc1wl2VcvGLrspONHLqc
K7SGz+pBWBC8B5bcbA1DuQ+Nff1QG00bjSSa5LnDdd/ZA8NWj8sHicx9GjaW5IHh
czw6AzUvzVvEz6CIbQ6E3mQ5tnPr88rpCYi47s7yHCVxOtSHXW6jeSyhrUiT1YCq
F+MchfadA8YEYC7LSwIIALd1QHrZrYUmW1zRTtKUSNu/6sgkof5pXfPCJ+/d6yNt
mbOFJR3Xs21OuLrOMzT2DTWxACnP6pO3fZueiqGhq8IF/+uSifDHaZGgoF2vO7DH
IJThzrzsC+peM8fqSC5lmvNeQn7fuFRLqoREMQ+6MMP/b1nGMq9+UPvJNHPHucm8
+isbKlL/KqAnq/LSNwHbW17JLRlFGVAzHNTMDKck920y0aX1cmBGSV0fpRpeJNRO
9l+gR4Iz1wiUhv+zPYkfiQmqyYH8pAGWIM+zk8mta4djMheuRzmlHpGpHgklu/HW
SvwxTSLHWsSseZTC4h0PYdwm6iUm9r1p0ve7NJtzSf0AEQEAAf4JAwJ8Ok2/jU1L
bGA5vZjmHaLpy0nqWgo3MRtg4AbOl2BXrm5Kf3MGEB9kl05rdcmsi5mwCbmkBoUq
pzTR9Cv3tANnW0wZmOGDtxEhb4Ia94RyWViQju8AQ0aSL0WZrweovsW4iJS/PVsr
YWY9OcYy3wrUNDhj/XXsAEcT9KdNX60kQ1bIQL/P6B7YLa/yPQbsK66NxQXSYXRS
5IugKse94EO9HA8pYJuM6Jzu0thn9P5ft+GNFwyGzbuRxeoJdfV9/kKgDVNgrhKc
xvF8Vo8MsquDAp8wA5zGdGrVMyALGErpEkn9fglR/bYhdGN7f3Ouew/wW6ZRb6vv
+3ziaf0cd7Egt8e9r0qm/fZGD8zBSWOGd7rWE/CLfyM5s1bZbeOL0CphcPOV9K2f
b/WODNjsKAYCVCa3WsiA2UtFgSS5mFFF1X5F1XxiPqC2i+0l+sZYp/J7kcPk70bD
1PGKEci3cm9LTF1lCXeju0dHbcGRssUGECMx54e3URUIGjxCA6lB2A1713tI/aX8
5nBSBL6p5jttIyFrdbfvhTSfLyE5xEmxuZVcaMtzLeF3P4qqfYONEw+vHLpiLRjA
mz50cpwCqZxL6eOdL2V26FTcPPHvuulwYlAEpb8JI2hXf7r42jR66p8F3+3ATfXE
ar6s9Peojel5J5JISSnCWr/wcRtqu6jIo8Jm35TOg31ztS6R+cI93zyJf8D04BHb
6H0TRG6EnP4i6EiTLlD2sq32N82R5haNBhGdfra8N01m0SYS8maVjYdlyu/INeW4
uiIkY9/UQ5E/Nody3uFQRxVBaCDx09ChoTa86+Q9FQmYwxA1oO15FBGUhJvF1zKt
VmzoYXI6PxUnUbwwzvbvdHOsbn/oumeEG1V4ARflWsj47wK/C8jabqK+NGMOzz0T
Bl3FCG63ZOp3O+Qln+iJASsEGAMIABUFAmAuy0wFCQAAHCACmwwCGQECngEACgkQ
OIO5fWu1Dkqnjgf/fWGeTcfEtkOT0jo/QytwvhvZ2DPij3WE1CmF1o/z79u/cTTV
Mt7VmGuQsp5UBP38WsVs6aEf0GUC9K/XWpjbaHiQe/BTu+2nEaxYceophaixjNHV
MzovAwnm8pJnEZuA9GmeQy5kzLbszg+V0oQHvwgp/8Lx3UuVcj3KX6aoi3yjrYiQ
NQn4Dq5f07U3wNpgsHpQhP4+E/EoM3KjX2cajKvkBKMeve/F8nl6hCrXSwYChftZ
CXzUx7LBNHwjlzetExSd1f3HVqezZXMyrx0Xdfz0JmVa6/T6gvSStdLfSOndi5f1
CKW5025jnbFjQfdShsXKiJDo/MC3UOiQoS6fVA==
=JQfW
-----END PGP PRIVATE KEY BLOCK-----
```

Password for the above sample test key is "password". 

Thoughts?

We already removed the whole `keyInfo` section the tests json.
Private keys are stored in `test/testdata.json`/keys, "armored" field (and the password in "passphrase" field),
or in backup messages in `exported-messages` folder

I will send an updated `test-secrets.json` file to Bilal. As Roman noted, newly these keys can be found in `test/testdata.json`. This is just for clarity - it doesn't address what Bilal was mentioning.

> Each private key block has one master key and a sub key. Both master and sub key are marked that either can be used for both signing and encryption.

@bilalashraf123 I'm surprised to hear that. To my knowledge, every OpenPGP key we created had a master key which was meant for signing and certification, and a subkey meant for encryption. This is standard practice. But I didn't investigate the particular keys you are mentioning.

It's not necessarily a problem since they are just test keys. But could you please generate a new key with the FlowCrypt browser extension and evaluate that new key? (by just going through setup as a regular user, on some randomnewaccount@gmail.com, then investigating the structure of the newly created key)



This is not what I'm seeing when parsing the private key (flowcrypt browser -> settings -> additional -> experimental -> test compatibility)

(1) Primary keys found: 1  
(2) ----- Testing key 0 -----  
(3) PK 0 > Key type: openpgp  
(4) PK 0 > Is Private?: [-] true  
(7) PK 0 > Fingerprint: A925 AB20 AFD0 66E5 7D65 AC0F D9AD 596E 5857 035C  
(8) PK 0 > Subkeys: [-] 1  
(9) PK 0 > Primary key algo: [-] rsa_encrypt_sign  
(10) PK 0 > Usage flags: [-] [sign_data, certify_keys]  
(11) PK 0 > key decrypt: [-] false  
(12) PK 0 > isFullyDecrypted: [-] false  
(13) PK 0 > isFullyEncrypted: [-] true  
(14) PK 0 > Primary key verify: [-] valid  
(15) PK 0 > Primary key creation?: [-] 1613765823 or 2021-02-19T20:17:03.000Z  
(16) PK 0 > Primary key expiration?: [-] -  
(17) PK 0 > Encrypt/Decrypt test: Encryption with key was successful:   
(18) PK 0 > Encrypt/Decrypt test: Skipping decryption because isPrivate:true isFullyDecrypted:false:   
(19) PK 0 > Sign/Verify test: [-] skipped, not fully decrypted  
(20) PK 0 > SK 0 > LongId: [-] C2931B28D634C0D2  
(21) PK 0 > SK 0 > Created: [-] 1613765823 or 2021-02-19T20:17:03.000Z  
(22) PK 0 > SK 0 > Algo: [-] rsa_encrypt_sign  
(23) PK 0 > SK 0 > Usage flags: [-] [encrypt_communication, encrypt_storage]  
(24) PK 0 > SK 0 > Verify: [-] OK  
(25) PK 0 > SK 0 > Subkey tag: [-] 7  
(26) PK 0 > SK 0 > Subkey getBitSize: [-] 2048  
(27) PK 0 > SK 0 > Subkey decrypted: [-] false  
(28) PK 0 > SK 0 > Binding signature length: [-] 1  
(29) PK 0 > SK 0 > SIG 0 > Key flags: [-] 12  
(30) PK 0 > SK 0 > SIG 0 > Tag: [-] 2  
(31) PK 0 > SK 0 > SIG 0 > Version: [-] 4  
(32) PK 0 > SK 0 > SIG 0 > Public key algorithm: [-] 1  
(33) PK 0 > SK 0 > SIG 0 > Sig creation time: [-] 1613765823 or 2021-02-19T20:17:03.000Z  
(34) PK 0 > SK 0 > SIG 0 > Sig expiration time: [-] -  
(35) PK 0 > SK 0 > SIG 0 > Verified: [-] true  
(36) PK 0 > expiration: [-] undefined  
(37) PK 0 > internal dateBeforeExpiration: [-] undefined  
(38) PK 0 > internal usableForEncryptionButExpired: [-] false  
(39) PK 0 > internal usableForSigningButExpired: [-] false  


Also tried pgpdump:

Hashed Sub: key flags(sub 27)(1 bytes)
Flag - This key may be used to certify other keys
Flag - This key may be used to sign data

Hashed Sub: key flags(sub 27)(1 bytes)
Flag - This key may be used to encrypt communications
Flag - This key may be used to encrypt storage

Either way - this would be ok to post publicly on github. We'd have to disclose it sooner or later anyway, and there isn't any path to exploit this. Only if there is a potential path to exploitation would we keep it secret until fixed.

Cheers,
Tom

> Please check the algorithm in rectangular boxes
>
> ![image](https://user-images.githubusercontent.com/6306961/108563887-269ac600-72fa-11eb-9dff-d9b40783f065.png)
>
> Please also check the same with the attached key generated using bouncy Castle.

@bilalashraf123 I posted our conversation here for continuity.

---------------

I think the algorithm is not a problem? Key flags are used to indicate purposes of each key. No compliant OpenPGP implementation will encrypt for keys that have usage flags set to sign/certify only.

In case you think it should still be addressed and there is a way to address it in OpenPGP spec, you can file an issue at https://github.com/openpgpjs/openpgpjs

According to RFC 4880 Section 9.1 - https://tools.ietf.org/html/rfc4880#section-9.1

Pasted content below:

9.1.  Public-Key Algorithms

      ID           Algorithm
      --           ---------
      1          - RSA (Encrypt or Sign) [HAC]
      2          - RSA Encrypt-Only [HAC]
      3          - RSA Sign-Only [HAC]
      16         - Elgamal (Encrypt-Only) [ELGAMAL] [HAC]
      17         - DSA (Digital Signature Algorithm) [FIPS186] [HAC]
      18         - Reserved for Elliptic Curve
      19         - Reserved for ECDSA
      20         - Reserved (formerly Elgamal Encrypt or Sign)
      21         - Reserved for Diffie-Hellman (X9.42,
                   as defined for IETF-S/MIME)
      100 to 110 - Private/Experimental algorithm

   Implementations MUST implement DSA for signatures, and Elgamal for
   encryption.  **Implementations SHOULD implement RSA keys (1).  RSA
   Encrypt-Only (2) and RSA Sign-Only are deprecated and SHOULD NOT be
   generated, but may be interpreted**.  See Section 13.5.  See Section
   13.8 for notes on Elliptic Curve (18), ECDSA (19), Elgamal Encrypt or
   Sign (20), and X9.42 (21).  Implementations MAY implement any other
   algorithm.

I think openpgp is doing fine. when generation (1) should be used and when parsing (2) and (3) can also be interpreted. 

Thanks for having a look. Since PGPainless is based on BouncyCastle, please check if PGPainless is by any chance following the SHOULD NOT scenarios wrongly.